{% extends 'base.html' %}

{% block title %}
<title>NFL Player Crime Database</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>NFL Player Crime Database</h1>
    <h6>{{ crime.0.Category }} - Arrest Count: {{ crime.0.arrest_count }} </h6>
    <h6>{{ crime.1.Category }} - Arrest Count: {{ crime.1.arrest_count }} </h6>
    <h6>{{ crime.2.Category }} - Arrest Count: {{ crime.2.arrest_count }} </h6>
    <h6>{{ crime.3.Category }} - Arrest Count: {{ crime.3.arrest_count }} </h6>
    <h6>{{ crime.4.Category }} - Arrest Count: {{ crime.4.arrest_count }} </h6>
    <h6>{{ crime.5.Category }} - Arrest Count: {{ crime.5.arrest_count }} </h6>
    <h6>{{ crime.6.Category }} - Arrest Count: {{ crime.6.arrest_count }} </h6>
    <h6>{{ crime.7.Category }} - Arrest Count: {{ crime.7.arrest_count }} </h6>
    <h6>{{ crime.8.Category }} - Arrest Count: {{ crime.8.arrest_count }} </h6>
    <h6>{{ crime.9.Category }} - Arrest Count: {{ crime.9.arrest_count }} </h6>
    <h6>{{ crime.10.Category }} - Arrest Count: {{ crime.10.arrest_count }} </h6>
    <h6>{{ crime.11.Category }} - Arrest Count: {{ crime.11.arrest_count }} </h6>
    <h6>{{ crime.12.Category }} - Arrest Count: {{ crime.12.arrest_count }} </h6>
    <h6>{{ crime.13.Category }} - Arrest Count: {{ crime.13.arrest_count }} </h6>
    <h6>{{ crime.14.Category }} - Arrest Count: {{ crime.14.arrest_count }} </h6>
    <h6>{{ crime.15.Category }} - Arrest Count: {{ crime.15.arrest_count }} </h6>
    <h6>{{ crime.16.Category }} - Arrest Count: {{ crime.16.arrest_count }} </h6>
    <h6>{{ crime.17.Category }} - Arrest Count: {{ crime.17.arrest_count }} </h6>
    <h6>{{ crime.18.Category }} - Arrest Count: {{ crime.18.arrest_count }} </h6>
    <h6>{{ crime.19.Category }} - Arrest Count: {{ crime.19.arrest_count }} </h6>
    <h6>{{ crime.20.Category }} - Arrest Count: {{ crime.20.arrest_count }} </h6>
    <h6>{{ crime.21.Category }} - Arrest Count: {{ crime.21.arrest_count }} </h6>
    <h6>{{ crime.22.Category }} - Arrest Count: {{ crime.22.arrest_count }} </h6>
    <h6>{{ crime.23.Category }} - Arrest Count: {{ crime.23.arrest_count }} </h6>
    <h6>{{ crime.24.Category }} - Arrest Count: {{ crime.24.arrest_count }} </h6>
    <h6>{{ crime.25.Category }} - Arrest Count: {{ crime.25.arrest_count }} </h6>
    <h6>{{ crime.26.Category }} - Arrest Count: {{ crime.26.arrest_count }} </h6>
    <h6>{{ crime.27.Category }} - Arrest Count: {{ crime.27.arrest_count }} </h6>
    <h6>{{ crime.28.Category }} - Arrest Count: {{ crime.28.arrest_count }} </h6>
    <h6>{{ crime.29.Category }} - Arrest Count: {{ crime.29.arrest_count }} </h6>
    <h6>{{ crime.30.Category }} - Arrest Count: {{ crime.30.arrest_count }} </h6>
    <h6>{{ crime.31.Category }} - Arrest Count: {{ crime.31.arrest_count }} </h6>
    <h6>{{ crime.32.Category }} - Arrest Count: {{ crime.32.arrest_count }} </h6>
    <h6>{{ crime.33.Category }} - Arrest Count: {{ crime.33.arrest_count }} </h6>
    <h6>{{ crime.34.Category }} - Arrest Count: {{ crime.34.arrest_count }} </h6>
    <h6>{{ crime.35.Category }} - Arrest Count: {{ crime.35.arrest_count }} </h6>
    <h6>{{ crime.36.Category }} - Arrest Count: {{ crime.36.arrest_count }} </h6>
    <h6>{{ crime.37.Category }} - Arrest Count: {{ crime.37.arrest_count }} </h6>
    <h6>{{ crime.38.Category }} - Arrest Count: {{ crime.38.arrest_count }} </h6>
    <h6>{{ crime.39.Category }} - Arrest Count: {{ crime.39.arrest_count }} </h6>
    <h6>{{ crime.40.Category }} - Arrest Count: {{ crime.40.arrest_count }} </h6>
    <h6>{{ crime.41.Category }} - Arrest Count: {{ crime.41.arrest_count }} </h6>
    <h6>{{ crime.42.Category }} - Arrest Count: {{ crime.42.arrest_count }} </h6>
    <h6>{{ crime.43.Category }} - Arrest Count: {{ crime.43.arrest_count }} </h6>
    <h6>{{ crime.44.Category }} - Arrest Count: {{ crime.44.arrest_count }} </h6>
    <h6>{{ crime.45.Category }} - Arrest Count: {{ crime.45.arrest_count }} </h6>
    <h6>{{ crime.46.Category }} - Arrest Count: {{ crime.46.arrest_count }} </h6>
    <h6>{{ crime.47.Category }} - Arrest Count: {{ crime.47.arrest_count }} </h6>
    <h6>{{ crime.48.Category }} - Arrest Count: {{ crime.48.arrest_count }} </h6>
    <h6>{{ crime.49.Category }} - Arrest Count: {{ crime.49.arrest_count }} </h6>
    <h6>{{ crime.50.Category }} - Arrest Count: {{ crime.50.arrest_count }} </h6>
    <h6>{{ crime.51.Category }} - Arrest Count: {{ crime.51.arrest_count }} </h6>
    <h6>{{ crime.52.Category }} - Arrest Count: {{ crime.52.arrest_count }} </h6>
    <h6>{{ crime.53.Category }} - Arrest Count: {{ crime.53.arrest_count }} </h6>
    <h6>{{ crime.54.Category }} - Arrest Count: {{ crime.54.arrest_count }} </h6>
    <h6>{{ crime.55.Category }} - Arrest Count: {{ crime.55.arrest_count }} </h6>
    <h6>{{ crime.56.Category }} - Arrest Count: {{ crime.56.arrest_count }} </h6>
    <h6>{{ crime.57.Category }} - Arrest Count: {{ crime.57.arrest_count }} </h6>
    <h6>{{ crime.58.Category }} - Arrest Count: {{ crime.58.arrest_count }} </h6>
    <h6>{{ crime.59.Category }} - Arrest Count: {{ crime.59.arrest_count }} </h6>
    <h6>{{ crime.60.Category }} - Arrest Count: {{ crime.60.arrest_count }} </h6>
    <h6>{{ crime.61.Category }} - Arrest Count: {{ crime.61.arrest_count }} </h6>
    <h6>{{ crime.62.Category }} - Arrest Count: {{ crime.62.arrest_count }} </h6>
    <h6>{{ crime.63.Category }} - Arrest Count: {{ crime.63.arrest_count }} </h6>
    <h6>{{ crime.64.Category }} - Arrest Count: {{ crime.64.arrest_count }} </h6>
    <h6>{{ crime.65.Category }} - Arrest Count: {{ crime.65.arrest_count }} </h6>
    <h6>{{ crime.66.Category }} - Arrest Count: {{ crime.66.arrest_count }} </h6>
    <h6>{{ crime.67.Category }} - Arrest Count: {{ crime.67.arrest_count }} </h6>
    <h6>{{ crime.68.Category }} - Arrest Count: {{ crime.68.arrest_count }} </h6>
    <h6>{{ crime.69.Category }} - Arrest Count: {{ crime.69.arrest_count }} </h6>
    <h6>{{ crime.70.Category }} - Arrest Count: {{ crime.70.arrest_count }} </h6>
    <h6>{{ crime.71.Category }} - Arrest Count: {{ crime.71.arrest_count }} </h6>
    <h6>{{ crime.72.Category }} - Arrest Count: {{ crime.72.arrest_count }} </h6>
    <h6>{{ crime.73.Category }} - Arrest Count: {{ crime.73.arrest_count }} </h6>
    <h6>{{ crime.74.Category }} - Arrest Count: {{ crime.74.arrest_count }} </h6>
    <h6>{{ crime.75.Category }} - Arrest Count: {{ crime.75.arrest_count }} </h6>
    <h6>{{ crime.76.Category }} - Arrest Count: {{ crime.76.arrest_count }} </h6>
    <h6>{{ crime.77.Category }} - Arrest Count: {{ crime.77.arrest_count }} </h6>
    <h6>{{ crime.78.Category }} - Arrest Count: {{ crime.78.arrest_count }} </h6>
    <h6>{{ crime.79.Category }} - Arrest Count: {{ crime.79.arrest_count }} </h6>
    <h6>{{ crime.80.Category }} - Arrest Count: {{ crime.80.arrest_count }} </h6>
    <h6>{{ crime.81.Category }} - Arrest Count: {{ crime.81.arrest_count }} </h6>
    <h6>{{ crime.82.Category }} - Arrest Count: {{ crime.82.arrest_count }} </h6>
    <h6>{{ crime.83.Category }} - Arrest Count: {{ crime.83.arrest_count }} </h6>
    <h6>{{ crime.84.Category }} - Arrest Count: {{ crime.84.arrest_count }} </h6>
    <h6>{{ crime.85.Category }} - Arrest Count: {{ crime.85.arrest_count }} </h6>
    <h6>{{ crime.86.Category }} - Arrest Count: {{ crime.86.arrest_count }} </h6>
    <h6>{{ crime.87.Category }} - Arrest Count: {{ crime.87.arrest_count }} </h6>
    <h6>{{ crime.88.Category }} - Arrest Count: {{ crime.88.arrest_count }} </h6>
    <h6>{{ crime.89.Category }} - Arrest Count: {{ crime.89.arrest_count }} </h6>
    <h6>{{ crime.90.Category }} - Arrest Count: {{ crime.90.arrest_count }} </h6>
    <h6>{{ crime.91.Category }} - Arrest Count: {{ crime.91.arrest_count }} </h6>
    <h6>{{ crime.92.Category }} - Arrest Count: {{ crime.92.arrest_count }} </h6>
    <h6>{{ crime.93.Category }} - Arrest Count: {{ crime.93.arrest_count }} </h6>
    <h6>{{ crime.94.Category }} - Arrest Count: {{ crime.94.arrest_count }} </h6>
    <h6>{{ crime.95.Category }} - Arrest Count: {{ crime.95.arrest_count }} </h6>
    <h6>{{ crime.96.Category }} - Arrest Count: {{ crime.96.arrest_count }} </h6>
    <h6>{{ crime.97.Category }} - Arrest Count: {{ crime.97.arrest_count }} </h6>
    <h6>{{ crime.98.Category }} - Arrest Count: {{ crime.98.arrest_count }} </h6>
    <h6>{{ crime.99.Category }} - Arrest Count: {{ crime.99.arrest_count }} </h6>
    <h6>{{ crime.100.Category }} - Arrest Count: {{ crime.100.arrest_count }} </h6>
    <h6>{{ crime.101.Category }} - Arrest Count: {{ crime.101.arrest_count }} </h6>
    <h6>{{ crime.102.Category }} - Arrest Count: {{ crime.102.arrest_count }} </h6>
    <h6>{{ crime.103.Category }} - Arrest Count: {{ crime.103.arrest_count }} </h6>
    <h6>{{ crime.104.Category }} - Arrest Count: {{ crime.104.arrest_count }} </h6>
    <h6>{{ crime.105.Category }} - Arrest Count: {{ crime.105.arrest_count }} </h6>
    <h6>{{ crime.106.Category }} - Arrest Count: {{ crime.106.arrest_count }} </h6>
    <h6>{{ crime.107.Category }} - Arrest Count: {{ crime.107.arrest_count }} </h6>
    <h6>{{ crime.108.Category }} - Arrest Count: {{ crime.108.arrest_count }} </h6>
    <h6>{{ crime.109.Category }} - Arrest Count: {{ crime.109.arrest_count }} </h6>
    <h6>{{ crime.110.Category }} - Arrest Count: {{ crime.110.arrest_count }} </h6>
    <h6>{{ crime.111.Category }} - Arrest Count: {{ crime.111.arrest_count }} </h6>
    <h6>{{ crime.112.Category }} - Arrest Count: {{ crime.112.arrest_count }} </h6>
</div>
{% endblock %}