{% extends 'base.html' %}

{% block title %}
<title>Player</title>
{% endblock%}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wedding Receptions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/seasonstats">Season Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/mostarrests">NFL Players Arrested The Most</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamcrime">Arrests By Team</a>
      </li>
    </ul>
  </div>
</nav> 

<div class="container">
    <h1>ESPN Fantasy Football API</h1>
    <h2>Players</h2>
    {% for key, value in teams.iteritems %}
        <h2>{{ key }}</h2>
        {% for key, value in value.Players.iteritems %}
            <a href="/player/{{key}}">{{ value }}</a>
        {% endfor %}
        {% for key, value in value.iteritems %}
            <h6>{{ value.player.values }}</h6>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}