{% extends 'base.html' %}

{% block title %}
<title>Player</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>ESPN Fantasy Football API</h1>
    <h2>Players</h2>
    {% for key, value in teams.iteritems %}
        <h2>{{ key }}</h2>
        {% for key, value in value.Players.iteritems %}
            <a href="/player/{{key}}">{{ value }}</a>
        {% endfor %}
        {% for key, value in value.iteritems %}
            <h6>{{ value.player.values }}</h6>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}