{% extends 'base.html' %}

{% block title %}
<title>Season Stats</title>
{% endblock%}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wedding Receptions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/seasonstats">Season Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/mostarrests">NFL Players Arrested The Most</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamcrime">Arrests By Team</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1>Standings</h1>
    {% for matchup in matchups %}
    {% if matchup.winner != 'Undecided' %}
    <h6>Winner: {{ matchup.winner.title }}</h6>
    {% endif %}
    {% for team in matchup.teams %}
    <h2>{{ team.team.teamLocation }} {{ team.team.teamNickname }}</h2>
    <h6>Points For: {{ team.team.record.pointsFor }}</h6>
    <h6>Points Against: {{ team.team.record.pointsAgainst }}</h6>
    <h6>Win Loss Record: {{ team.team.record.overallWins }}-{{ team.team.record.overallLosses }}</h6>
    <h6>Streak Length: {{ team.team.record.streakLength }}</h6>
    {% if team.team.logoUrl %}
    <img src="{{ team.team.logoUrl }}" alt="{{ team.team.teamLocation }} {{ team.team.teamNickname }}">
    {% endif %}
    <h6>Live Stats: {{ team.liveStats }}</h6>
    <br>
    <h6>Team: {{ team }}</h6>
    {% endfor %}
    <br>
    {% endfor %}
    <h6>{{ matchups }}</h6>
    <h6>{{ standings }}</h6>
</div>
{% endblock %}