{% extends 'base.html' %}

{% block title %}
<title>Season Stats</title>
{% endblock%}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wedding Receptions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/seasonstats">Season Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/mostarrests">NFL Players Arrested The Most</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamcrime">Arrests By Team</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1>Standings</h1>
    {% for matchup in matchups %}
    <h6>Winner: {{ matchup.winner.title }}</h6>
    {% for team in matchup.teams %}
    <h6>Live Stats {{ team.liveStats }}</h6>
    {% endfor %}
    <h6>{{ matchup }}</h6>
    {% endfor %}
    <h6>{{ matchups }}</h6>
    <h6>{{ standings }}</h6>
</div>
{% endblock %}