{% extends 'base.html' %}

{% block title %}
<title>Team Arrests</title>
{% endblock%}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wedding Receptions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/seasonstats">Season Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/mostarrests">NFL Players Arrested The Most</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamcrime">Arrests By Team</a>
      </li>
    </ul>
  </div>
</nav>

<a href="/">Go Back</a>
<div class="container">
    <h1>Denver Broncos Team Arrests</h1>
    <h6>{{ teamarrests.0.arrest_count }} Arrests - {{ teamarrests.0.Name }}</h6>
    <h6>{{ teamarrests.1.arrest_count }} Arrests - {{ teamarrests.1.Name }}</h6>
    <h6>{{ teamarrests.2.arrest_count }} Arrests - {{ teamarrests.2.Name }}</h6>
    <h6>{{ teamarrests.3.arrest_count }} Arrests - {{ teamarrests.3.Name }}</h6>
    <h6>{{ teamarrests.4.arrest_count }} Arrests - {{ teamarrests.4.Name }}</h6>
    <h6>{{ teamarrests.5.arrest_count }} Arrests - {{ teamarrests.5.Name }}</h6>
    <h6>{{ teamarrests.6.arrest_count }} Arrests - {{ teamarrests.6.Name }}</h6>
    <h6>{{ teamarrests.7.arrest_count }} Arrest - {{ teamarrests.7.Name }}</h6>
    <h6>{{ teamarrests.8.arrest_count }} Arrest - {{ teamarrests.8.Name }}</h6>
    <h6>{{ teamarrests.9.arrest_count }} Arrest - {{ teamarrests.9.Name }}</h6>
    <h6>{{ teamarrests.10.arrest_count }} Arrest - {{ teamarrests.10.Name }}</h6>
    <h6>{{ teamarrests.11.arrest_count }} Arrest - {{ teamarrests.11.Name }}</h6>
    <h6>{{ teamarrests.12.arrest_count }} Arrest - {{ teamarrests.12.Name }}</h6>
    <h6>{{ teamarrests.13.arrest_count }} Arrest - {{ teamarrests.13.Name }}</h6>
    <h6>{{ teamarrests.14.arrest_count }} Arrest - {{ teamarrests.14.Name }}</h6>
    <h6>{{ teamarrests.15.arrest_count }} Arrest - {{ teamarrests.15.Name }}</h6>
    <h6>{{ teamarrests.16.arrest_count }} Arrest - {{ teamarrests.16.Name }}</h6>
    <h6>{{ teamarrests.17.arrest_count }} Arrest - {{ teamarrests.17.Name }}</h6>
    <h6>{{ teamarrests.18.arrest_count }} Arrest - {{ teamarrests.18.Name }}</h6>
    <h6>{{ teamarrests.19.arrest_count }} Arrest - {{ teamarrests.19.Name }}</h6>
    <h6>{{ teamarrests.20.arrest_count }} Arrest - {{ teamarrests.20.Name }}</h6>
    <h6>{{ teamarrests.21.arrest_count }} Arrest - {{ teamarrests.21.Name }}</h6>
    <h6>{{ teamarrests.22.arrest_count }} Arrest - {{ teamarrests.22.Name }}</h6>
    <h6>{{ teamarrests.23.arrest_count }} Arrest - {{ teamarrests.23.Name }}</h6>
    <h6>{{ teamarrests.24.arrest_count }} Arrest - {{ teamarrests.24.Name }}</h6>
    <h6>{{ teamarrests.25.arrest_count }} Arrest - {{ teamarrests.25.Name }}</h6>
    <h6>{{ teamarrests.26.arrest_count }} Arrest - {{ teamarrests.26.Name }}</h6>
    <h6>{{ teamarrests.27.arrest_count }} Arrest - {{ teamarrests.27.Name }}</h6>
    <h6>{{ teamarrests.28.arrest_count }} Arrest - {{ teamarrests.28.Name }}</h6>
    <h6>{{ teamarrests.29.arrest_count }} Arrest - {{ teamarrests.29.Name }}</h6>
    <h6>{{ teamarrests.30.arrest_count }} Arrest - {{ teamarrests.30.Name }}</h6>
    <h6>{{ teamarrests.31.arrest_count }} Arrest - {{ teamarrests.31.Name }}</h6>
    <h6>{{ teamarrests.32.arrest_count }} Arrest - {{ teamarrests.32.Name }}</h6>
    <h6>{{ teamarrests.33.arrest_count }} Arrest - {{ teamarrests.33.Name }}</h6>
    <h6>{{ teamarrests.34.arrest_count }} Arrest - {{ teamarrests.34.Name }}</h6>
    <h6>{{ teamarrests.35.arrest_count }} Arrest - {{ teamarrests.35.Name }}</h6>
    <h6>{{ teamarrests.36.arrest_count }} Arrest - {{ teamarrests.36.Name }}</h6>
    <h6>{{ teamarrests.37.arrest_count }} Arrest - {{ teamarrests.37.Name }}</h6>
    <h6>{{ teamarrests.38.arrest_count }} Arrest - {{ teamarrests.38.Name }}</h6>
    <h6>{{ teamarrests.39.arrest_count }} Arrest - {{ teamarrests.39.Name }}</h6>
</div>
{% endblock %}