{% extends 'base.html' %}

{% block title %}
<title>Teams</title>
{% endblock%}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Wedding Receptions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/seasonstats">Season Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/mostarrests">NFL Players Arrested The Most</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamcrime">Arrests By Team</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1>ESPN Fantasy Football API - Teams</h1>
    <h1>Teams</h1>
    <br>
    <h1>{{ matchups.0.teams.0.team.teamLocation.title }} {{ matchups.0.teams.0.team.teamNickname.title }} </h1>
    <img src="{{ matchups.0.teams.0.team.logoUrl }}" alt="{{ matchups.0.teams.0.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.0.teams.0.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.0.teams.0.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.0.teams.0.team }}</h6>
    <br>
    <h1>{{ matchups.1.teams.0.team.teamLocation.title }} {{ matchups.1.teams.0.team.teamNickname.title }} </h1>
    <img src="{{ matchups.1.teams.0.team.logoUrl }}" alt="{{ matchups.1.teams.0.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.1.teams.0.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.1.teams.0.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.1.teams.0.team }}</h6>
    <br>
    <h1>{{ matchups.2.teams.0.team.teamLocation.title }} {{ matchups.2.teams.0.team.teamNickname.title }} </h1>
    <img src="{{ matchups.2.teams.0.team.logoUrl }}" alt="{{ matchups.2.teams.0.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.2.teams.0.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.2.teams.0.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.2.teams.0.team }}</h6>
    <br>
    <h1>{{ matchups.3.teams.0.team.teamLocation.title }} {{ matchups.3.teams.0.team.teamNickname.title }} </h1>
    <img src="{{ matchups.3.teams.0.team.logoUrl }}" alt="{{ matchups.3.teams.0.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.3.teams.0.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.3.teams.0.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.3.teams.0.team }}</h6>
    <br>
    <h1>{{ matchups.4.teams.0.team.teamLocation.title }} {{ matchups.4.teams.0.team.teamNickname.title }} </h1>
    <img src="{{ matchups.4.teams.0.team.logoUrl }}" alt="{{ matchups.4.teams.0.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.4.teams.0.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.4.teams.0.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.4.teams.0.team }}</h6>
    <br>
    <h1>{{ matchups.5.teams.0.team.teamLocation.title }} {{ matchups.5.teams.0.team.teamNickname.title }} </h1>
    <img src="{{ matchups.5.teams.0.team.logoUrl }}" alt="{{ matchups.5.teams.0.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.5.teams.0.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.5.teams.0.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.5.teams.0.team }}</h6>
    <br>
    <h1>{{ matchups.1.teams.1.team.teamLocation.title }} {{ matchups.1.teams.1.team.teamNickname.title }} </h1>
    <img src="{{ matchups.1.teams.1.team.logoUrl }}" alt="{{ matchups.1.teams.1.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.1.teams.1.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.1.teams.1.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.1.teams.1.team }}</h6>
    <br>
    <h1>{{ matchups.2.teams.1.team.teamLocation.title }} {{ matchups.2.teams.1.team.teamNickname.title }} </h1>
    <img src="{{ matchups.2.teams.1.team.logoUrl }}" alt="{{ matchups.2.teams.1.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.2.teams.1.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.2.teams.1.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.2.teams.1.team }}</h6>
    <br>
    <h1>{{ matchups.3.teams.1.team.teamLocation.title }} {{ matchups.3.teams.1.team.teamNickname.title }} </h1>
    <img src="{{ matchups.3.teams.1.team.logoUrl }}" alt="{{ matchups.3.teams.1.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.3.teams.1.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.3.teams.1.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.3.teams.1.team }}</h6>
    <br>
    <h1>{{ matchups.4.teams.1.team.teamLocation.title }} {{ matchups.4.teams.1.team.teamNickname.title }} </h1>
    <img src="{{ matchups.4.teams.1.team.logoUrl }}" alt="{{ matchups.4.teams.1.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.4.teams.1.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.4.teams.1.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.4.teams.1.team }}</h6>
    <br>
    <h1>{{ matchups.5.teams.1.team.teamLocation.title }} {{ matchups.5.teams.1.team.teamNickname.title }} </h1>
    <img src="{{ matchups.5.teams.1.team.logoUrl }}" alt="{{ matchups.5.teams.1.team.teamNickname.title }}">
    <h6>Players: {{ scoreboard.matchups.5.teams.1.playerIDs }}</h6>
    <h6>Logo URL: {{ matchups.5.teams.1.team.logoUrl }}</h6>
    <h6>Matchups: {{ matchups.5.teams.1.team }}</h6>
    <br>
    <h6>Scoreboard: {{ scoreboard }}</h6>
</div>
{% endblock %}